// cross scatter plot
.base--cross-scatter-plot .grid-line .tick:nth-child(3) line {
    stroke: #8CC978;
}

// base scatter plot
.base--scatter-plot {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.base--scatter-plot .y {
    /*letter-spacing: 1px;*/
}

.base--scatter-plot .point {
    shape-rendering: geometricprecision;
    fill-opacity: 0.50;
    stroke-opacity: 0.50;
    stroke-width: 1.5;
}

.grid-line line, .grid-line path {
    stroke: #C9C8C9;
    stroke-width: 1.5;
}

.base--area-line-chart .grid-line-y .tick:nth-last-child(1) line {
    display: none;
}

/* Utility classes */
.heavy { font: bold 10pt 'Fi360 Sans Tabular'};

.area-line {
    shape-rendering: crispEdges;
}

.line {
    stroke: black; stroke-width: 5px; fill: none;
}

.model {
    fill: lightsteelblue;
}