.base--scatter-plot {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.base--scatter-plot .y {
    /*letter-spacing: 1px;*/
}

.base--scatter-plot .point {
    shape-rendering: crispEdges;
    fill-opacity: 0.75;
    stroke-opacity: 0.75;
    stroke-width: 1.5;
}

.gridline line, .gridline path {
    stroke: #C9C8C9;
    stroke-width: 1.5;
}

/* Utility classes */
.heavy { font: bold 10pt 'Fi360 Sans Tabular';  }
