@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css";
@import "https://codepen.io/fi360admin/pen/00a8f1a9c239dc6efd19837353b0744c.css";
@import "./global.styl";
@import "./d3.styl";

#app
    font-family 'Avenir', Helvetica, Arial, sans-serif
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    text-align center
    color #2c3e50

#nav
    padding 30px
    a
        font-weight bold
        color #2c3e50
        &.router-link-exact-active
            color #42b983